body {
	background: #FFFFFF;
	background-image: url("images/background2.png");
	padding: 3em;
}

#bodyheader {
	width:612px;
	height:25px;
    text-align:left;
	background-color:#E6E6E6;
	border: 1px solid #d9d9d9;
    color:yellow;
    padding:2px;
}

#freespace {
    width:100px;
	float:left;
    padding:5px; 
}

#freespace2 {
    width:200px;
	height: 10px;
	float:left;
    padding:5px; 
}

#freespace3 {
    width:1200px;
	height: 10px;
	float:left;
    padding:5px; 
}

#freespace4 {
	width: 5px;
	height: 54px;
	float:left;
    padding:5px; 
}

#fb-page {
	width: 200px;
	float: left;
	}
	
#videos {
	color: #4d4d4d;
	text-align:left;
	width:750px;
	float: left;
    	padding:10px; 
	background: #E6E6E6;
	border: 2px solid #d9d9d9;
	font-family:"Verdana", Geneva, sans-serif;
}

#games {
	color:#4d4d4d;
	text-align:left;
	width:1200px;
	float:left;
    padding:10px; 
	background: #E6E6E6;
	border: 2px solid #d9d9d9;
	font-family:"Verdana", Geneva, sans-serif;
}

#imgtxt {
float: right;
    margin: 0px 0px 15px 20px;
}

#imgtxt2 {
float: left;
    margin: 15px 20px 0px 0px;
}


h1 {
text-align:center;
border: 2px solid #009999;
padding: 15px;
}

h2 {
text-align:center;
}

h3 {
text-align:center;
}
